
.cuplist{
    background: #f5f5f5 url(../images/header.png) no-repeat;
    background-size: 100%;
    padding-top: .6rem;
    padding-left: .13rem;
    padding-right: .13rem;
    padding-bottom: .35rem;
}

#cuplist .head{
    width: 100%;
    padding-left: .1rem;
    color:white;
    font-size: .12rem;
    line-height: .25rem;
}

#cuplist .contentline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .35rem;
    line-height: .35rem;
}


#cuplist .header{
    width: 100%;
    background: white;
    min-height: 1rem;
    border-radius: 5px;
    margin-top: .15rem;
}

#cuplist .lefttitle{
    color:#999999;
    font-size: .15rem;
    display: flex;
    align-items: center;
}

#cuplist .lefttitle img{
    width: .15rem;
    margin-right: .05rem;
}


#cuplist .borderimg{
    width: .05rem;
    margin-right: .05rem;
}

#cuplist .headertitle{
    height: .45rem;
    border-bottom: 1px solid #eaeaea;
    font-size: .17rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .1rem;
    padding-left: .14rem;
}


#cuplist .content{
    padding-right: .1rem;
    padding-left: .14rem;
    font-size: .15rem;
}




#cuplist .footer{
    width: 100%;
    margin:0 auto;
    font-size: .1rem;
    color:white;
    background: #3098f0;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
#cuplist .foot{
display: flex;
height: .35rem;
justify-content: center;
align-items: center;
width: 100%;
}
#cuplist .foot img{
    width: .2rem;
    margin-left: .05rem;
    margin-right: .05rem;
}


