

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;

}

.cupdispose{
    padding-left: .13rem;
    padding-right: .13rem;
    padding-bottom: .45rem;
}

#cupdispose  .footer{
    text-align: center;
    width: 100%;
    color:#999;
    position: fixed;
    bottom: .2rem;
    font-size: .11rem;
}




#cupdispose .header{
    width: 100%;
    background: white;
    min-height: 1rem;
    border-radius: 5px;
}

#cupdispose .headertitle{
    height: .45rem;
    border-bottom: 1px solid #eaeaea;
    font-size: .17rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .1rem;
}


#cupdispose .am-list-item{
    padding-left: 0;
}

#cupdispose .loginbtn{
    width: 100%;
    height: .4rem;
    font-size: .15rem;
}

#cupdispose  .cupheader{
    text-align: center;
    margin-top: .2rem;
    margin-bottom: .2rem;
}

#cupdispose .footer{
    width: 100%;
    margin:0 auto;
    font-size: .1rem;
    color:white;
    background: #3098f0;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
#cupdispose .foot{
display: flex;
height: .35rem;
justify-content: center;
align-items: center;
width: 100%;
}
#cupdispose .foot img{
    width: .2rem;
    margin-left: .05rem;
    margin-right: .05rem;
}


#cupdispose .ant-input-group{
    margin: 0;
}

#cupdispose  .cupbotbtn{
    width: 100%;
    margin:0 auto;
    margin-top: 1rem;
}

#cupdispose .ant-checkbox-group-item{
    margin-right: 0;
    width: 50%;
    margin-bottom: .25rem;
    padding-left: .3rem;
}

#cupdispose .borderimg{
    width: .04rem;
    margin-right: .05rem;
}


 .modelsocket{
    text-align: center;
}

.socketimg{
    width: .75rem;
}

.sockettitle{
    font-size: .15rem;
    color:#333333;
}

.socketimgs{
    width: 100%;
}

.socketbot{
    color:#fb7524;
    font-size: .11rem;
    text-align: center;
    margin-top: .1rem;
}

.secondtitle{
    font-size: .15rem;
    color:#666666;
    margin-top: .15rem;
    margin-bottom: .15rem;
    text-align: center;
}

.socketbtn{
    border-top: 1px solid  #cacaca;
    padding-top: .1rem;
    text-align: center;
}

.cupline{
    width: 100%;
    margin:0 auto;
    margin-bottom: .1rem;
}