#nodeManage {
    background: white;
    min-height: 500px;
}

.gutter-example-nodemanage .ant-row > div {
    background: transparent;
    border: 0;
}

.gutter-box-nodemanage {
    text-align:left;
}

.ant-input-disabled{
    color: black;
    text-align: center;
}

.ant-input-group{
    margin: 8px;
}


#hoteldetail .explainspan{
    display: inline-block;
    width: 200px;
    text-align: right;
    font-size: 14px;
    color:#999
}

#hoteldetail  .textright{
    font-size: 14px;
}

.bottom{
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    text-align: right;
}

.clearfix::after{
    visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


