
.mobilenetxbody{
    background: #f5f5f5 url(../images/header.png) no-repeat;
    background-size: 100%;
    padding-top: .6rem;
    padding-left: .13rem;
    padding-right: .13rem;
    min-height: 7rem;
    padding-bottom: .35rem;
}

#mobilenetxbody .head{
    width: 100%;
    padding-left: .1rem;
    color:white;
    font-size: .12rem;
    line-height: .25rem;
}

#mobilenetxbody .header{
    width: 100%;
    background: white;
    min-height: 1rem;
    border-radius: 5px;
    margin-top: .15rem;
}

#mobilenetxbody .footer{
    width: 100%;
    margin:0 auto;
    font-size: .1rem;
    color:white;
    background: #3098f0;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
#mobilenetxbody .foot{
display: flex;
height: .35rem;
justify-content: center;
align-items: center;
width: 100%;
}
#mobilenetxbody .foot img{
    width: .2rem;
    margin-left: .05rem;
    margin-right: .05rem;
}


#mobilenetxbody .headertitle{
    height: .45rem;
    border-bottom: 1px solid #eaeaea;
    font-size: .17rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .1rem;
    padding-left: .14rem;
}


#mobilenetxbody .borderimg{
    width: .04rem;
    margin-right: .05rem;
}

#mobilenetxbody .more{
    font-size: .14rem;
    color:#2374ee;
}

#mobilenetxbody .contentline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .35rem;
    line-height: .35rem;
}

#mobilenetxbody .content{
    padding-right: .1rem;
    padding-left: .14rem;
    font-size: .15rem;
}

#mobilenetxbody .ant-table-thead > tr > th{
    padding: .05rem;
}

 .ant-table-thead > tr > th{
    padding: 16px 10px ;
    text-align: center;
    font-weight: bold;
}

.ant-table-tbody > tr > td{
    padding: 16px 10px ;
    text-align: center;
    font-size: 12px;
}

#mobilenetxbody  .ant-table-tbody > tr > td{
    padding: .05rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}


#mobilenetxbody .lefttitle{
    color:#999999;
    font-size: .15rem;
    display: flex;
    align-items: center;
}

#mobilenetxbody .lefttitle img{
    width: .15rem;
    margin-right: .05rem;
}


#mobilenetxbody .list{
    margin-top: .1rem;
}

#mobilenetxbody .contmid{
    font-size: .12rem;
}

#mobilenetxbody .contlefttext{
    margin-left: .05rem;
    margin-right: .05rem;
    color:#2374ee;
}
